/*Variables*/
/*Reset*/
* {
  margin: 0px !important;
  padding: 0px !important;
}

/*Colores*/
.bg-warning-subtle {
  background-color: #9cd2d3 !important;
}

/*Encabezados*/
h1 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 1.7rem;
  color: #fdfdfd;
}

h2 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 1.3rem;
  color: #fdfdfd;
}

h3 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 1.1rem;
  padding: 10px !important;
}

header {
  height: 75px;
  background-color: #047d96;
}
header .logo .logo__img {
  transition: all 1s;
}
header .logo .logo__img:hover {
  transform: scale(1.2, 1.2) translate(5px, 5px);
}
header .logo-crea .logo-crea__img {
  transition: all 1s;
}
header .logo-crea .logo-crea__img:hover {
  transform: scale(1.2, 1.2) translate(-5px, 5px) skewX(-10deg);
}
header .usuario .usuario__img {
  transition: all 1s;
}
header .usuario .usuario__img:hover {
  transform: scale(1.4, 1.4) translateY(5px);
}
header #nav__actual {
  transform: scale(1.2, 1.2);
  background-color: #114c5f6a !important;
}
header #nav__actual:hover {
  background-color: #0799b6 !important;
}
header .btn-outline-primary {
  border-color: #fdfdfd !important;
}
header .btn-outline-primary:hover {
  background-color: #0799b6 !important;
}
header .btn-outline-primary:active {
  background-color: #0799b6 !important;
}
header .nav--principal .nav-item .nav-link {
  color: #fdfdfd !important;
}
header .nav--principal .nav-item .nav-link:hover {
  background-color: #0799b6 !important;
}
header .dropdown-menu .nav-item {
  background-color: #9cd2d3 !important;
}
header .dropdown-menu .nav-item .nav-link {
  color: #114c5f !important;
}

main {
  background-image: linear-gradient(#047d96, #114c5f);
}

.main-index .main-index__free {
  color: #114c5f;
  background-color: #9cd2d3;
}
.main-index .main-index__free .free__article {
  height: 100%;
}
.main-index .main-index__free .free__image {
  background-color: #fdfdfd;
  height: 100%;
}
.main-index .main-index__premium {
  color: #fdfdfd;
  background-color: #047d96;
}
.main-index .main-index__premium .premium__article {
  height: 100%;
}
.main-index .main-index__premium .premium__image {
  height: 100%;
}

.main-about {
  color: #fdfdfd;
}

.main-services .main-services__free {
  color: #114c5f;
  background-color: #9cd2d3;
}
.main-services .main-services__free .free__article {
  height: 100%;
}
.main-services .main-services__free .free__image {
  background-color: #fdfdfd;
  height: 100%;
}
.main-services .main-services__premium {
  color: #fdfdfd;
}
.main-services .main-services__premium .premium__article {
  height: 100%;
}
.main-services .main-services__premium .premium__image {
  height: 100%;
}

.main-contacto form {
  color: #114c5f !important;
  border: 2px solid #114c5f;
  border-radius: 5px;
}
.main-contacto form .btn-primary {
  border-color: #114c5f !important;
  background-color: #047d96;
}
.main-contacto form .btn-primary:hover {
  background-color: #0799b6 !important;
}
.main-contacto form .btn-primary:active {
  background-color: #0799b6 !important;
}
.main-contacto .info-contacto {
  color: #114c5f !important;
  font-size: 0.8rem;
}

footer {
  height: 90px;
  font-size: 0.8rem;
  color: #fdfdfd;
  background-color: #114c5f;
}

/*# sourceMappingURL=style.css.map */
