

/*Variables*/
$bondi-blue: #0799b6;
$san-marino: #047d96;
$eden: #114c5f;
$sinbad: #9cd2d3;
$janna: #eed6b9;
$blanco: #fdfdfd;
$oscuro: #212529;

/*Reset*/
* {
    margin: 0px !important;
    padding: 0px !important;    
}

/*Colores*/
.bg-warning-subtle{
    background-color: $sinbad !important;
}


/*Encabezados*/
h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.7rem ;
    color: $blanco;
}
h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.3rem;
    color: $blanco;
}
h3{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.1rem;
    padding: 10px !important;
}

header {
    height: 75px;
    background-color: $eden;   
    .btn-outline-primary {
        border-color: $blanco !important;       
    }
    .btn-outline-primary:hover{
        background-color: $bondi-blue !important;
    }
    .btn-outline-primary:active{
        background-color: $bondi-blue !important;
    }
    
    .nav-item {        
        .nav-link{
            color: $blanco !important; 
        }
        .nav-link:hover{       
            background-color: $bondi-blue !important; 
        }     
    }
   
    
    .dropdown-menu{
        .nav-item{
            background-color: $sinbad !important;
            .nav-link {
                color: $eden !important;     
            }
        }        
    }
}

main {
    background-color: $eden;     
}

.main-index {         
    .main-index__free{        
        color: $eden;
        background-color: $sinbad;
        .free__article{
            height: 100%;            
        }
        .free__image{
            background-color: $blanco;
            height: 100%;            
        }
    }
    .main-index__premium{      
        color: $blanco; 
        background-color: $san-marino;  
        .premium__article{
            height: 100%;           
        }
        .premium__image{
            height: 100%;              
        }
    }
}

.main-about{
    color: $blanco;
}

.main-services {       
    .main-services__free{        
        color: $eden; 
        background-color: $sinbad;
        .free__article{
            height: 100%;            
        }
        .free__image{
            background-color: $blanco;
            height: 100%;            
        }
    }
    .main-services__premium{       
        color: $blanco; 
        
        .premium__article{
            height: 100%;           
        }
        .premium__image{
            height: 100%;              
        }
    }
}

.main-contacto { 
    form {
        border: 2px solid $eden;
        border-radius: 5px;  
        .btn-primary {
            border-color: $eden !important;   
            background-color: $san-marino;
                
        }
        .btn-primary:hover{
            background-color: $bondi-blue !important;
        }
        .btn-primary:active{
            background-color: $bondi-blue !important;
        }     
    }
    .info-contacto{
        font-size: 0.8rem; 
    }    
}

footer{
    height: 90px;
    font-size: 0.8rem;
    color: $blanco;
    background-color: $eden; 
}




