

/*Variables*/
$bondi-blue: #0799b6;
$san-marino: #047d96;
$eden: #114c5f;
$sinbad: #9cd2d3;
$janna: #eed6b9;
$blanco: #fdfdfd;
$oscuro: #212529;

/*Reset*/
* {
    margin: 0px !important;
    padding: 0px !important;    
}

/*Colores*/
.bg-warning-subtle{
    background-color: $sinbad !important;
}


/*Encabezados*/
h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.7rem ;
    color: $blanco;
}
h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.3rem;
    color: $blanco;
}
h3{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.1rem;
    padding: 10px !important;
}

header {
    height: 75px;
    background-color: $san-marino;   

    .logo {
        .logo__img{
            transition: all 1s;
        }
        .logo__img:hover{
            transform: scale(1.2,1.2) translate(5px,5px);
        }
    }

    .logo-crea{
        .logo-crea__img{
            transition: all 1s;
        }
        .logo-crea__img:hover {
            transform: scale(1.2,1.2) translate(-5px,5px) skewX(-10deg);
        }
    }
      
    .usuario{
        .usuario__img{
            transition: all 1s;
        }
        .usuario__img:hover {
            transform: scale(1.4,1.4) translateY(5px);
        }
    } 
      
    #nav__actual{  
        transform: scale(1.2,1.2);
        background-color: #{$eden}6a !important;
    }
    #nav__actual:hover {
        background-color: $bondi-blue !important;
    }
    .btn-outline-primary {
        border-color: $blanco !important;       
    }
    .btn-outline-primary:hover{
        background-color: $bondi-blue !important;
    }
    .btn-outline-primary:active{
        background-color: $bondi-blue !important;
    }
    
    .nav--principal{
        .nav-item {        
            .nav-link{
                color: $blanco !important; 
            }
            .nav-link:hover{       
                background-color: $bondi-blue !important; 
            }     
        }
    }
         
    .dropdown-menu{
        .nav-item{
            background-color: $sinbad !important;
            .nav-link {
                color: $eden !important;     
            }
        }        
    }
}

main {     
    background-image:linear-gradient($san-marino,$eden);   
}

.main-index {         
    .main-index__free{        
        color: $eden;
        background-color: $sinbad;
        .free__article{
            height: 100%;            
        }
        .free__image{
            background-color: $blanco;
            height: 100%;            
        }
    }
    .main-index__premium{      
        color: $blanco; 
        background-color: $san-marino;  
        .premium__article{
            height: 100%;           
        }
        .premium__image{
            height: 100%;              
        }
    }
}

.main-about{
    color: $blanco;
}

.main-services {       
    .main-services__free{        
        color: $eden; 
        background-color: $sinbad;
        .free__article{
            height: 100%;            
        }
        .free__image{
            background-color: $blanco;
            height: 100%;            
        }
    }
    .main-services__premium{       
        color: $blanco; 
        
        .premium__article{
            height: 100%;           
        }
        .premium__image{
            height: 100%;              
        }
    }
}

.main-contacto {     
    form {
        color: $eden !important;
        border: 2px solid $eden;
        border-radius: 5px;  
        .btn-primary {
            border-color: $eden !important;   
            background-color: $san-marino;
                
        }
        .btn-primary:hover{
            background-color: $bondi-blue !important;
        }
        .btn-primary:active{
            background-color: $bondi-blue !important;
        }     
    }
    .info-contacto{
        color: $eden !important;
        font-size: 0.8rem; 
    }    
}

footer{
    height: 90px;
    font-size: 0.8rem;
    color: $blanco;
    background-color: $eden; 
}




